@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #4B4B4B;
    line-height: 1.5;
}
.header {
    padding: 50px;
    text-align: center;
}
[class*="__container"] {
    max-width: 1050px;
    margin: 0 auto;
}
.our-promise {
    padding-bottom: 222px;
}
.our-promise__header {
    margin-bottom: 68px;
}
.tetles__sub-title {
    background: url(../img/promise/Overline\ Mark.svg) 0 -2px no-repeat;
    padding-left: 33px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
    margin-bottom: 33px;
}
.tetles__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    color: #000000;
}
.our-promise__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}
.our-promise__item {
    padding: 0px 12px;
    flex: 1 1 33.333%;
    min-width: 260px;
}
.item-promise-our {
    display: flex;
    align-items: flex-start;
    column-gap: 23px;
}
.item-promise-our__icon {
    flex: 0 0 63px;
    max-width: 63px;
    max-height: 63px;
}
.item-promise-our__title {
    font-size: 19px;
    font-weight: 900;
    line-height: 1.36;
    color: #F2726F;
    margin-bottom: 20px;
}
.item-promise-our__text {
    letter-spacing: 0.15px;
}
.impact {
    background: #29C3BE;
}
.impact__container {
    position: relative;
    padding-bottom: 212px;
}
.impact__container::before {
    content: "";
    position: absolute;
    width: 68%;
    height: 100%;
    background: url(../img/impact/Blob\ 2.png) 0 0 no-repeat;
    transform: translate(-12%, 0px);
    left: 50%;
    top: 0px;
}
.impact__content {
    display: flex;
    justify-content: space-between;
    margin: 0px -15px 79px -15px;
    
}
.impact__header {
    align-self: flex-end;
    max-width: 450px;
    padding: 0px 15px;
    flex: 0 0 50%;
    
}
.tetles__sub-title_white {
    color: #FFFFFF;
    background: url(../img/impact/Overline\ Mark.svg) 0 -2px no-repeat;
}

.tetles__title_white {
    color: #FFFFFF;
}
.impact__image {
    margin: -7.61% 0px 0px 0px;
    flex: 0 0 50%;
    padding: 0px 15px;
    position: relative;
}
.impac__dog-img {
    border-radius: 40px;
    max-width: 100%;
}
.impact__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}
.impact__item {
    padding: 0px 12px;
    flex: 0 1 25%;
}
.item-impact {
    display: flex;
    justify-content: center;
    column-gap: 12px;
}
.item-impact__icon {
    flex: 0 0 76px;
    max-width: 76px;
    max-height: 76px;
}
.item-impact__body {
    align-self: center;
}
.item-impact__value {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    color: #FFFFFF;
    margin-bottom: 3px;
}
.item-impact__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #5D62B5;
    letter-spacing: 0.15px;
}
.impact__footer  {
    background: #5D62B5;
    border-radius: 20px;
    margin: -72px  auto 100px;
}
.footer-impact {
    display: flex;
    padding: 43px 76px 46px 70px;
    justify-content: space-between;
    max-width: 1020px;
}
.footer-impact__text {
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 1.25;
    flex: 0 1 562px;
}
.footer-impact__button {
    font-weight: 700;
    align-self: center;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 8px;
    text-transform: uppercase;
    max-width: 210px;
    padding: 9px 25px;
}
footer {
    text-align: center;
}

